.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slide {
  min-width: 100%;
  height: 400px;
  transition: transform 0.5s ease-in-out;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.carousel {
  animation: slideAnimation 5s infinite;
}
